<nav class="<%= master_class  %>">   
      <div class="container px-4 mx-auto flex flex-wrap items-center justify-between" >
<% ########################################################## Logo + Hamburger ###################################################################################################### %>
        <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start" >
					<a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase <%= logo_color %>"
            href="/" >
						Cookie
					</a
          ><button
            class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
            type="button"
            onclick="toggleNavbar('hieronymus-collapse-navbar')"
          >
            <i class=" <%= logo_color %>  fas fa-bars"></i>
          </button>
        </div>
				<% # next define the hamburger menue background and dimensions. Set to transparent if not needed %>
				<% # it is set to `bg-white` by default                                                          %>
        <div
						class="lg:flex flex-grow items-center <%= icon_color %> bg-white  lg:bg-transparent lg:shadow-none hidden"
          id="hieronymus-collapse-navbar" >
<% ########################################################### Left aligned Items ##################################################################################################### %>
        <ul class="flex flex-col lg:flex-row list-none mr-auto">
<%= render   Shared::NavLink.new(  href: "/blog", 
                                   icon: 'fa-solid fa-book-open', 
																	 icon_colour: icon_color, 
																	 text_colour: text_color       ) do                                                                                                                   %>
	      Blog 
<% end                                                                                                                                                                                  %>
<%= render   Shared::NavLink.new   href: "/blog",       
                                   icon: 'fa-solid fa-book',   
																	 text: 'Digital Future', 
																	 icon_colour: icon_color,  
																	 text_colour: text_color                                                                                                                              %>

        </ul>
<% ########################################################### Right aligned Items #################################################################################################### %>
				<ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
<%= render   Shared::NavLink.new   href: "https://facebook.com/ficoach",       
                                   icon: 'fa-brands fa-linkedin',   
																 	 text: "Publish on LinkedIn", 
																	 display: 'no',      
																	 icon_colour: icon_color                  %>
<%= render   Shared::NavLink.new   href: "https://facebook.com/ficoach",
                                   icon: 'fa-brands fa-facebook',   
																	 text: "Share on Facebook",   
																	 display: 'no' ,      
																	 icon_colour: icon_color                 %>
<%= render   Shared::NavLink.new   href: "https:/twitter.com/@HieronM",
                                   icon: 'fa-brands fa-twitter',    
																	 text: "Tweet",               
																	 display: 'no' ,      
																	 icon_colour: icon_color                 %>
<%= render   Shared::NavLink.new   href: "https://github.com/topofocus/cookie", 
                                   icon: 'fa-brands fa-github',     
																	 text: "Star",                
																	 display: 'no' ,      
																	 icon_colour: icon_color                 %>  
            <li class="flex items-center">
              <button
									class="<%= button_color %> text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
                type="button"
                style="transition: all 0.15s ease 0s;"
              >
                <i class="fas fa-arrow-alt-circle-right"></i> Sign Up
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
