<div class="<%= @first_class %>">
	<div class="<%= @icon_class %>">
		<%#			 class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600" %>
		 
		 <i class="fas <%= @icon %> text-xl"></i>
		</div>
		<h3 class="text-3xl mb-2 font-semibold leading-normal">
			<%= @title %>
		</h3>
		<%= content %>
	</div>

